body {
  background-color: black;
}
h1 {
  color: white;
  text-transform: uppercase;
}
img {
  border: 5px solid rgba(0, 255, 166, 0.832);
  width: 45%;
}
div {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
